.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;          /* 세로 중앙 */
  text-align: center;
  background-color: #fffaf5;
}

.empty-state h1,
.empty-state h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.empty-state p {
  font-size: 1rem;
  color: #666;
}
