.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.login-page input {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-page button {
  width: 84%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #ff8b3d;
  color: white;
  font-weight: bold;
}

.signup-btn {
  background-color: #ddd;
  color: #333;
}
